.body {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 54px;

    .user_search {
        padding: 22px 0;

        input {
            outline: none;
            margin-left: 7px;
            border-radius: 5px;
            padding: 11px 15px;
            font-size: 14px;
            border: 1px solid #B6B6B6;
        }

        .user_name {
            label {
                font-size: 14px;
                color: #565656;
            }
        }

        .user_email {}

        .user_state {}
    }
}