.body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 54px;
}
.body .user_search {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-left: 30px;
}
.body .user_search input {
  outline: none;
  margin-left: 11px;
  border-radius: 5px;
  padding: 9px 15px;
  font-size: 14px;
  border: 1px solid #898989;
}
.body .user_search label {
  font-size: 14px;
  color: #5B5B5B;
}
.body .user_search select {
  outline: none;
  font-size: 14px;
  margin-left: 11px;
  padding: 9px 11px;
  border-radius: 5px;
  border: 1px solid #898989;
}
.body .user_search .user_name {
  margin-left: 30px;
}
.body .user_search .user_email {
  margin-left: 30px;
}
.body .user_search .user_state {
  margin-left: 30px;
}
.body .user_search .search_button {
  outline: 0;
  border: 1px solid #00B4C9;
  border-radius: 5px;
  padding: 7px 30px;
  margin-left: 50px;
  background-color: #00C6DE;
}
.body .user_search .search_button i {
  color: #fff;
  font-size: 20px;
}
.body .user_search .search_button {
  cursor: pointer;
}
.body table {
  width: 100%;
  margin: 50px 30px 0 30px;
  box-sizing: border-box;
  border: 1px solid #6A6A6A;
}
.body table tr th {
  text-align: left;
}
