.body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 54px;
}
.body .user_search {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 40px;
  padding-left: 30px;
}
.body .user_search input {
  outline: none;
  width: 100px;
  margin-left: 11px;
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 14px;
  border: 1px solid #898989;
}
.body .user_search label {
  font-size: 14px;
  color: #5B5B5B;
}
.body .user_search select {
  outline: none;
  font-size: 14px;
  margin-left: 11px;
  padding: 7px 11px;
  border-radius: 5px;
  border: 1px solid #898989;
}
.body .user_search .user_email,
.body .user_search .user_role,
.body .user_search .user_state {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.body .user_search .user_role {
  position: relative;
}
.body .user_search .user_role .select_role {
  display: flex;
  justify-content: space-between;
  width: 96px;
  margin-left: 11px;
  padding: 7px 11px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #898989;
}
.body .user_search .user_role .select_role em {
  margin-left: 20px;
}
.body .user_search .user_role .select_role:hover {
  cursor: pointer;
}
.body .user_search .user_role ul {
  display: none;
  position: absolute;
  text-align: center;
  top: 100%;
  right: 3px;
  z-index: 1;
}
.body .user_search .user_role ul li {
  padding: 4px 24px;
  background-color: #fff;
  border: 1px solid #898989;
  border-top: none;
}
.body .user_search .user_role ul li:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
.body .user_search .user_state {
  position: relative;
}
.body .user_search .user_state .select_state {
  display: flex;
  justify-content: space-between;
  margin-left: 11px;
  padding: 7px 11px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #898989;
}
.body .user_search .user_state .select_state em {
  margin-left: 20px;
}
.body .user_search .user_state .select_state:hover {
  cursor: pointer;
}
.body .user_search .user_state ul {
  display: none;
  position: absolute;
  text-align: center;
  top: 100%;
  right: 3px;
  z-index: 1;
}
.body .user_search .user_state ul li {
  padding: 4px 24px;
  background-color: #fff;
  border: 1px solid #898989;
  border-top: none;
}
.body .user_search .user_state ul li:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
.body .user_search .search_button {
  outline: 0;
  border: 1px solid #00B4C9;
  border-radius: 5px;
  padding: 5px 25px;
  margin-left: 50px;
  background-color: #00B0E3;
}
.body .user_search .search_button i {
  color: #fff;
  font-size: 20px;
}
.body .user_search .search_button {
  cursor: pointer;
}
.body table {
  width: 100%;
  margin: 50px 30px 0 30px;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
}
.body table tr th,
.body table tr td {
  position: relative;
  text-align: left;
  box-sizing: border-box;
  color: #5E5E5E;
  font-size: 14px;
  padding: 7px 11px;
  border: 1px solid #BBBBBB;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.body table tr th input,
.body table tr td input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 18px;
}
.body table tr .th_center {
  width: 80px;
  text-align: center;
}
.body table tr .operation {
  align-items: center;
}
.body table tr .operation .operation_center {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.body table tr .operation .operation_center a {
  border-radius: 5px;
  padding: 6px 9px;
  font-size: 12px;
  color: #fff;
}
.body table tr .operation .operation_center a i {
  font-size: 12px;
  margin-right: 5px;
}
.body table tr .operation .operation_center .modify {
  background-color: #1e9fff;
}
.body table tr .operation .operation_center .delete {
  margin-left: 10px;
  background-color: #ff5722;
}
.body table thead tr {
  background-color: #EEEEEE;
}
.body .user_page {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
}
.body .user_page ul li {
  float: left;
  display: flex;
  color: #313131;
}
.body .user_page ul li a {
  padding: 5px 11px;
  color: #313131;
}
.body .user_page ul li span {
  display: inline-block;
  padding: 5px 11px;
}
.body .user_page ul li .userPageL,
.body .user_page ul li .userPageR {
  color: #444444;
}
.body .user_page ul .aDisable {
  color: #d2d2d2 !important;
  cursor: not-allowed !important;
}
.body .user_page ul .pageClick {
  color: #fff;
  background-color: #00CFD9;
}
.body .user_page ul .rpageClick {
  color: #313131;
  background-color: #fff;
}
.body .userPageNum {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.body .userPageNum input {
  outline: none;
  text-align: center;
  width: 20px;
  padding: 3px 5px;
  margin: 0 9px;
  font-size: 12px;
  border: 1px solid #ccc;
}
.body .userPageNum button {
  outline: 0;
  margin-left: 11px;
  padding: 2px 7px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.body .userPageNum button:hover {
  cursor: pointer;
}
.body .total {
  margin-right: 20px;
  font-size: 14px;
}
.body select {
  outline: none;
  border: 1px solid #898989;
}
