.body {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 54px;

    .user_search {
        display: flex;
        // flex-direction: column;
        align-items: center;
        // padding: 30px 0;
        margin-top: 40px;
        padding-left: 30px;

        input {
            outline: none;
            margin-left: 11px;
            border-radius: 5px;
            padding: 9px 15px;
            font-size: 14px;
            border: 1px solid #898989;
        }

        label {
            font-size: 14px;
            color: #5B5B5B;
        }

        select {
            outline: none;
            font-size: 14px;
            margin-left: 11px;
            padding: 9px 11px;
            border-radius: 5px;
            border: 1px solid #898989;
        }

        .user_name {
            margin-left: 30px;
        }

        .user_email {
            margin-left: 30px;
        }

        .user_state {
            margin-left: 30px;
        }

        .search_button {
            outline: 0;
            border: 1px solid #00B4C9;
            border-radius: 5px;
            padding: 7px 30px;
            margin-left: 50px;
            background-color: #00C6DE;

            i {
                color: #fff;
                font-size: 20px;
            }
        }

        .search_button {
            cursor: pointer;
        }
    }

    table {
        width: 100%;
        margin: 50px 30px 0 30px;
        box-sizing: border-box;
        // padding: 5px 7px;
        border: 1px solid #6A6A6A;
        tr{
            th{
                text-align: left;
            }
        }
    }
}