<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>用户管理页面</title>
    <!-- 公共样式(全体通用) -->
    <link rel="stylesheet" href="../../resources/css/common.css">
    <!-- 公共字体(全体通用) -->
    <link rel="stylesheet" href="../../resources/css/font.css">
    <!-- 管理页面公共样式 -->
    <link rel="stylesheet" href="../../resources/css/admin/common/adminCommon.css">
    <!-- 管理页面样式 -->
    <link rel="stylesheet" href="../../resources/css/admin/user/user.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
</head>

<body>
    <div class="user_all">
        <!-- 博客管理内容 -->
        <div class="all">
            <!-- 侧边栏 -->
            <div class="side">
                <!-- 侧边栏标题 -->
                <div class="side_title">
                    <span>my-blog博客管理后台</span>
                </div>
                <ul>
                    <!-- 侧边栏选项 -->
                    <li class="sideli">
                        <!-- 侧边栏内容居中显示 -->
                        <div class="sidelicenter">
                            <!-- 该条内容图标描述 -->
                            <i class="iconfont icon-daohangshouye side_default"></i>
                            <!-- 该条内容文字描述 -->
                            <a class="sideliTitle side_default" href="javascript:;">主页</a>
                            <!-- 点击下拉小三角 -->
                            <span class="side_pull triangle"></span>
                        </div>
                        <!-- 侧边栏下拉框 -->
                        <dl class="sidedl">
                            <!-- 侧边栏下拉框内容选项 -->
                            <dd><a href="#">后台管理主页</a></dd>
                            <dd><a href="#">客户端主页</a></dd>
                        </dl>
                    </li>
                    <!-- 侧边栏选项 -->
                    <li class="sideli">
                        <!-- 侧边栏内容居中显示 -->
                        <div class="sidelicenter">
                            <!-- 该条内容图标描述 -->
                            <i class="iconfont icon--yemianliebiao side_default"></i>
                            <!-- 该条内容文字描述 -->
                            <a class="sideliTitle side_default" href="javascript:;">页面</a>
                            <!-- 点击下拉小三角 -->
                            <span class="side_pull triangle"></span>
                        </div>
                        <!-- 侧边栏下拉框 -->
                        <dl class="sidedl">
                            <!-- 侧边栏下拉框内容选项 -->
                            <dd><a href="#">后台管理主页</a></dd>
                            <dd><a href="#">客户端主页</a></dd>
                        </dl>
                    </li>
                    <!-- 侧边栏选项 -->
                    <li class="sideli">
                        <!-- 侧边栏内容居中显示 -->
                        <div class="sidelicenter">
                            <!-- 该条内容图标描述 -->
                            <i class="iconfont icon-yonghu side_default"></i>
                            <!-- 该条内容文字描述 -->
                            <a href="./user.html" class="sideliTitle side_default" href="javascript:;">用户</a>
                        </div>
                    </li>
                    <!-- 侧边栏选项 -->
                    <li class="sideli">
                        <!-- 侧边栏内容居中显示 -->
                        <div class="sidelicenter">
                            <!-- 该条内容图标描述 -->
                            <i class="iconfont icon-daohangshouye side_default"></i>
                            <!-- 该条内容文字描述 -->
                            <a class="sideliTitle side_default" href="javascript:;">主页</a>
                        </div>
                    </li>
                    <!-- 侧边栏选项 -->
                    <li class="sideli">
                        <!-- 侧边栏内容居中显示 -->
                        <div class="sidelicenter">
                            <!-- 该条内容图标描述 -->
                            <i class="iconfont icon-daohangshouye side_default"></i>
                            <!-- 该条内容文字描述 -->
                            <a class="sideliTitle side_default" href="javascript:;">主页</a>
                        </div>
                    </li>
                    <!-- 侧边栏选项 -->
                    <li class="sideli">
                        <!-- 侧边栏内容居中显示 -->
                        <div class="sidelicenter">
                            <!-- 该条内容图标描述 -->
                            <i class="iconfont icon-daohangshouye side_default"></i>
                            <!-- 该条内容文字描述 -->
                            <a class="sideliTitle side_default" href="javascript:;">主页</a>
                        </div>
                    </li>
                    <!-- 侧边栏选项 -->
                    <li class="sideli">
                        <!-- 侧边栏内容居中显示 -->
                        <div class="sidelicenter">
                            <!-- 该条内容图标描述 -->
                            <i class="iconfont icon-shezhi side_default"></i>
                            <!-- 该条内容文字描述 -->
                            <a class="sideliTitle side_default" href="javascript:;">设置</a>
                            <!-- 点击下拉小三角 -->
                            <span class="side_pull triangle"></span>
                        </div>
                        <!-- 侧边栏下拉框 -->
                        <dl class="sidedl">
                            <!-- 侧边栏下拉框内容选项 -->
                            <dd><a href="#">后台管理主页</a></dd>
                            <dd><a href="#">客户端主页</a></dd>
                        </dl>
                    </li>
                    <!-- 侧边栏左侧动画条形效果 -->
                    <span class="left_animation"></span>
                </ul>
            </div>
            <!-- 主体内容 -->
            <div class="subject">
                <!-- 头部 -->
                <div class="header" id="header">
                    <!-- 头部左侧导航 -->
                    <ul class="header_left">
                        <li>
                            <a href="javascript:;"><i class="iconfont icon-backward-a"></i></a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="iconfont icon-hulianwang"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="iconfont icon-shuaxin"></i></a>
                        </li>
                    </ul>
                    <!-- 头部右侧导航 -->
                    <ul class="header_right">
                        <li>
                            <a href="javascript:;"><i class="iconfont icon-beijingtupian"></i></a>
                        </li>
                        <!-- 用户昵称 -->
                        <li>
                            <a class="user" href="javascript:;">
                                <cite>富婆</cite>
                                <span id="userTriangle" class="triangle"></span>
                            </a>
                            <!-- 用户下拉框 -->
                            <dd class="userShow">
                                <dl class="userddTriangle">
                                </dl>
                                <dl><a href="#">基本资料</a></dl>
                                <dl><a href="#">修改密码</a></dl>
                                <dl><a href="#">退出登录</a></dl>
                            </dd>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="iconfont icon-github"></i></a>
                        </li>
                    </ul>
                    <span id="header_strip"></span>
                </div>
                <div class="body">
                    <div class="user_search">
                        <div class="user_name">
                            <label>用户昵称</label>
                            <input type="text" placeholder="请输入用户昵称" id="userNameInput">
                        </div>
                        <div class="user_email">
                            <label>用户邮箱</label>
                            <input type="text" placeholder="请输入用户邮箱" id="userEmailInput">
                        </div>
                        <!-- 用户角色下拉框 -->
                        <div class="user_role">
                            <label>用户角色</label>
                            <div class="select_role" onselectstart="return false;">
                                <span id="role_text">不限</span>
                                <em class="arrow_role"><i class="iconfont icon-xiasanjiaoxing"></i></em>
                                <input type="hidden" id="userRoleHidden" value='2'>
                            </div>
                            <ul id="role_ul" onselectstart="return false;">
                                <li value="2">不限</li>
                                <li value="0">管理员</li>
                                <li value="1">普通用户</li>
                            </ul>
                        </div>
                        <!-- 用户状态下拉框 -->
                        <div class="user_state">
                            <label>用户状态</label>
                            <div class="select_state" onselectstart="return false;">
                                <span id="state_text">不限</span>
                                <em class="arrow_state"><i class="iconfont icon-xiasanjiaoxing"></i></em>
                                <input type="hidden" id="userStateHidden" value='2'>
                            </div>
                            <ul id="state_ul" onselectstart="return false;">
                                <li value="2">不限</li>
                                <li value="0">启用</li>
                                <li value="1">禁用</li>
                            </ul>
                        </div>
                        <button class="search_button"><i class="iconfont icon-sousuo"></i></button>
                    </div>
                    <div class="selict_user"><button onclick="batchDelete()">删除</button></div>
                    <table>
                        <thead>
                            <tr>
                                <td style="width: 45px;"><input type="checkbox" id="allChecked"></td>
                                <th style="width: 30%;">id</th>
                                <th>昵称</th>
                                <th>邮箱</th>
                                <th class="th_center">角色</th>
                                <th class="th_center">状态</th>
                                <th style="text-align: center;width: 180px;">操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <!-- <tr>
                                <td><input type="checkbox" class="checked"></td>
                                <td>1234567890</td>
                                <td>wdnmd</td>
                                <td>123456789</td>
                                <td class="th_center">管理员</td>
                                <td class="th_center">禁用</td>
                                <td class="operation">
                                    <div class="operation_center">
                                        <a class="modify" href="#"><i class="iconfont icon-xiugai"></i>编辑</a>
                                        <a class="delete" href="#"><i class="iconfont icon-shanchu"></i>删除</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="checked"></td>
                                <td>123456789012345678901234567890</td>
                                <td>wdnmdwdnmd</td>
                                <td>123456789012345678901234567890</td>
                                <td>普通用户</td>
                                <td class="th_center">启用</td>
                                <td class="operation">
                                    <div class="operation_center">
                                        <a class="modify" href="#"><i class="iconfont icon-xiugai"></i>编辑</a>
                                        <a class="delete" href="#"><i class="iconfont icon-shanchu"></i>删除</a>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="user_page" id="user_page">
                        <a href="javascript:;" class="userPageL" id="userPageL"><i class="iconfont icon-tubiaozhizuo-"></i></a>
                        <ul id="pg">
                            <!-- <li><a href="javascript:;" class="userPageL" id="userPageL"><i class="iconfont icon-tubiaozhizuo-"></i></a></li>
                            <li><a href="javascript:;">1</a></li>
                            <li><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li id="pageEllipsis"><span>...</span></li>
                            <li><a href="javascript:;">7</a></li>
                            <li><a href="javascript:;" class="userPageR" id="userPageR"><i class="iconfont icon-tubiaozhizuo-1"></i></a></li> -->
                        </ul>
                        <a href="javascript:;" class="userPageR" id="userPageR"><i class="iconfont icon-tubiaozhizuo-1"></i></a>
                        <span class="userPageNum">跳转到<input type="text" value="1" id="page_num">页<button onclick="jupPage()">跳转</button></span>
                        <span class="total">共<label></label>条</span>
                        <select id="data_total" onclick="userReqTotal(this)">
                            <option value="5">5条/页</option>
                            <option value="10">10条/页</option>
                            <option value="15">15条/页</option>
                            <option value="20">20条/页</option>
                            <option value="25">25条/页</option>
                        </select>
                    </div>
                </div>
                <div style="width: 100%;height: 500px;"></div>
            </div>
        </div>
    </div>
    <div class="tips">
        <div class="tips_title">编辑用户</div>
        <i class="iconfont icon-icon-cross-squre" id="iconFont"></i>
        <div class="tips_content">
            <!-- 提示框的每一行 -->
            <div class="tips_row" id="tips_row">
                <!-- 该行内容的描述 -->
                <label id="tips_explain">昵称：</label>
                <!-- 该行内容的输入框 -->
                <div class="tips_input">
                    <input type="text" placeholder="请输入你想要的昵称">
                </div>
            </div>
            <div class="tips_row" id="tips_row">
                <!-- 该行内容的描述 -->
                <label id="tips_explain">角色：</label>
                <!-- 选择下拉框 -->
                <div class="tips_select">
                    <span>管理员</span>
                    <i class="iconfont icon-xiasanjiaoxing"></i>
                    <div class="select_box">
                        <div class="select_children">
                            <div value='0'>管理员</div>
                            <div value='1'>普通用户</div>
                        </div>
                    </div>
                    <input type="hidden" id="userTipsRole">
                </div>
            </div>
            <div class="tips_row" id="tips_row">
                <!-- 该行内容的描述 -->
                <label id="tips_explain">状态：</label>
                <!-- 选择下拉框 -->
                <div class="tips_select">
                    <span>启用</span>
                    <i class="iconfont icon-xiasanjiaoxing"></i>
                    <div class="select_box">
                        <div class="select_children">
                            <div value='0'>启用</div>
                            <div value='1'>禁用</div>
                        </div>
                    </div>
                    <input type="hidden" id="userTipsState">
                </div>
            </div>
            <input type="hidden" id="userId">
            <div class="tips_button"><button onclick="userEdit()">确定</button></div>
        </div>
    </div>
    <div class="tips_background"></div>
    <script src="../../resources/js/admin/index.js"></script>
    <script src="../../resources/js/admin/user.js"></script>
</body>

</html>