<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>888</title>
    <!-- 公共样式(全体通用) -->
    <link rel="stylesheet" href="../../resources/css/common.css">
    <!-- 公共字体(全体通用) -->
    <link rel="stylesheet" href="../../resources/css/font.css">
    <!-- 客户端主体内容 -->
    <link rel="stylesheet" href="../../resources/css/admin/subject/subject.css">
    <!-- 客户端侧边栏 -->
    <link rel="stylesheet" href="../../resources/css/admin/side/side.css">
    <!-- 管理页面样式 -->
    <link rel="stylesheet" href="../../resources/css/admin/index/index.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
</head>

<body>
    <div class="user_all">

    </div>
</body>

</html>