<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言反馈</title>
    <!-- 公共样式(全体通用) -->
    <link rel="stylesheet" href="../../resources/css/common.css">
    <!-- 公共字体(全体通用) -->
    <link rel="stylesheet" href="../../resources/css/font.css">
    <!-- 客户端头部 -->
    <link rel="stylesheet" href="../../resources/css/client/header/header.css">
    <!-- 留言反馈样式 -->
    <link rel="stylesheet" href="../../resources/css/client/feedback/feedback.css">
</head>

<body>
    <!-- 头部导航栏 -->
    <div class="header">
        <div class="header_center">
            <!-- 不是logo是老狗 -->
            <div class="lg">
                <img src="../../resources/images/awsl.png" alt="可莉酱">
            </div>
            <ul>
                <li>
                    <a href="#" target="_blank" title="博客首页"><i class="iconfont icon-daohangshouye"></i>博客首页</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="你要的都在这里哦"><i class="iconfont icon-sort"></i>分类</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="在这里提出你的问题吧"><i class="iconfont icon-V"></i>论坛</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="让它变得更好吧"><i class="iconfont icon-yijian"></i>博客建议</a>
                </li>
                <li>
                    <a href="../comment/login.html" target="_blank" title="登录注册都点这里嗷">登录/注册</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 发表评论 -->
    <div class="comment_autor">
        <!-- 你的狗头 -->
        <div class="comment_autor_face"><img src="../../resources/images/1.jpg" alt=""></div>
        <!-- 评论组件 -->
        <div class="comment_autor_box">
            <!-- 输入框 -->
            <textarea name="" id="" cols="30" rows="10" placeholder="说出你的骚话"></textarea>
            <!-- 提交按钮 -->
            <span>
                <button>发表评论</button>
            </span>
        </div>
    </div>
    <!-- 留言主体内容 -->
    <div class="opinion">
        <ul>
            <li>
                <!-- 留言内容 -->
                <div class="opinion_content opinion_common">
                    <!-- 用户头像 -->
                    <a href="#">
                        <img src="../../resources/images/1.jpg" alt="你的头">
                    </a>
                    <!-- 右侧留言信息,回复面板 -->
                    <div class="comment">
                        <!-- 回复信息盒子 -->
                        <div class="comment_box">
                            <!-- 用户昵称及标签 -->
                            <span class="author_name">
                                <span><a href="#">富婆富婆</a></span>
                            <a href="#"><img src="../../resources/images/富婆标签.png" alt=""></a>
                            <!-- </span>
                            <a href="#">
                                <span>富婆富婆</span>
                                <img src="../../resources/images/富婆标签.png" alt="">
                            </a> -->
                            <!-- 冒号 -->
                            <span class="colon">:</span>
                            <!-- 用户留言 -->
                            <span class="new_comment">我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁</span>
                            <!-- 对此留言操作 -->
                            <div class="comment_operate">
                                <span class="date">0秒前</span>
                                <span class="reply_button">
                                    <a href="#">回复</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 评论回复 -->
                <div class="reply opinion_common">
                    <!-- 回复人头像 -->
                    <a href="#">
                        <img src="../../resources/images/1.jpg" alt="你的头">
                    </a>
                    <!-- 回复人评论右侧留言信息,回复面板 -->
                    <div class="comment">
                        <div class="comment_box">
                            <!-- 用户昵称及标签 -->
                            <span class="author_name">
                                <span><a href="#">富婆富婆</a></span>
                            <a href="#"><img src="../../resources/images/富婆标签.png" alt=""></a>
                            </span>
                            <!-- 冒号 -->
                            <span class="colon">:</span>
                            <!-- 回复人昵称及标签 -->
                            <span class="author_name">
                                <span><a href="#">富婆富婆</a></span>
                            <a href="#"><img src="../../resources/images/富婆标签.png" alt=""></a>
                            </span>
                            <!-- 回复人具体评论内容 -->
                            <span class="new_comment">我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁</span>
                            <!-- 对回复人进行操作 -->
                            <div class="comment_operate">
                                <span class="date">0秒前</span>
                                <span class="reply_button">
                                    <a href="#">回复</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 回复评论模块 -->
                <div class="assembly">
                    <!-- 你的狗头 -->
                    <div class="user_face"><img src="../../resources/images/1.jpg" alt=""></div>
                    <!-- 评论组件 -->
                    <div class="comments_assembly">
                        <!-- 输入框 -->
                        <textarea name="" id="" cols="30" rows="10" placeholder="回复 @富婆："></textarea>
                        <!-- 提交按钮 -->
                        <span>
                            <button>发表评论</button>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>