<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>论坛</title>
    <!-- 公共样式(全体通用) -->
    <link rel="stylesheet" href="../../resources/css/comment.css">
    <!-- 公共字体(全体通用) -->
    <link rel="stylesheet" href="../../resources/css/font.css">
    <!-- 客户端头部 -->
    <link rel="stylesheet" href="../../resources/css/client/header/header.css">
    <!-- 论坛样式文件 -->
    <link rel="stylesheet" href="../../resources/css/client/forum/forum.css">
</head>

<body>
    <!-- 头部导航栏 -->
    <div class="header">
        <div class="header_center">
            <!-- 不是logo是老狗 -->
            <div class="lg">
                <img src="../../resources/images/awsl.png" alt="可莉酱">
            </div>
            <ul>
                <li>
                    <a href="#" target="_blank" title="博客首页"><i class="iconfont icon-daohangshouye"></i>博客首页</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="你要的都在这里哦"><i class="iconfont icon-sort"></i>分类</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="在这里提出你的问题吧"><i class="iconfont icon-V"></i>论坛</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="让它变得更好吧"><i class="iconfont icon-yijian"></i>博客建议</a>
                </li>
                <li>
                    <a href="../comment/login.html" target="_blank" title="登录注册都点这里嗷">登录/注册</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 论坛主体内容 -->
    <div class="forum">
        <div class="forum_title"></div>
    </div>
</body>

</html>