<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言反馈</title>
    <!-- 公共样式(全体通用) -->
    <link rel="stylesheet" href="../../public/Comment/css/comment.css">
    <!-- 公共字体(全体通用) -->
    <link rel="stylesheet" href="../../public/Client/comment/font.css">
    <!-- 客户端头部 -->
    <link rel="stylesheet" href="../../public/Client/comment/header.css">
    <!-- 留言反馈样式 -->
    <link rel="stylesheet" href="../../public/Client/feedback/feedback.css">
</head>

<body>
    <!-- 头部导航栏 -->
    <div class="header">
        <div class="header_center">
            <!-- 不是logo是老狗 -->
            <div class="lg">
                <img src="../../public/Client/images/awsl.png" alt="可莉酱">
            </div>
            <ul>
                <li>
                    <a href="#" target="_blank" title="博客首页"><i class="iconfont icon-daohangshouye"></i>博客首页</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="你要的都在这里哦"><i class="iconfont icon-sort"></i>分类</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="在这里提出你的问题吧"><i class="iconfont icon-V"></i>论坛</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="让它变得更好吧"><i class="iconfont icon-yijian"></i>博客建议</a>
                </li>
                <li>
                    <a href="../comment/login.html" target="_blank" title="登录注册都点这里嗷">登录/注册</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 留言主体内容 -->
    <div class="opinion">
        <ul>
            <li>
                <!-- 留言内容 -->
                <div class="opinion_content">
                    <a href="#">
                        <!-- <span> -->
                        <img src="../../public/Comment/images/1.jpg" alt="你的头">
                        <!-- </span> -->
                    </a>
                    <div class="comment">
                        <div class="comment_box">
                            <a href="#">
                                <span>富婆富婆</span>
                                <img src="../../public/Comment/images/富婆标签.png" alt="">
                            </a>
                            <span class="colon">:</span>
                            <span class="new-comment">我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁我人无了，铁汁</span>
                            <div class="comment_operate">
                                <span class="date">0秒前</span>
                                <span class="reply_button">
                                    <a href="#">回复</a>
                                </span>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
                <!-- 评论回复 -->
                <div class="reply">

                    <!-- 回复具体信息 -->
                    <div class="reply_news">

                        <!-- 头像、回复人信息、别人回复的信息 -->
                        <span class="news_content">

                            <!-- 回复主体内容信息 -->
                            <span class="concrete_content">

                                <!-- 头像、回复人信息 -->
                                <span class="reply_autor">

                                    <!-- 头像 -->
                                    <span class="reply_ph"><a href="#"><img src="../../public/Comment/images/1.jpg" alt=""></a></span>

                        <!-- 回复人昵称 -->
                        <span class="reply_name"><a href="#">富婆</a></span>

                        <!-- 回复人标签 -->
                        <span class="reply_label"><a href="#"><img src="../../public/Comment/images/富婆标签.png" alt=""></a></span>
                        </span>

                        <!-- 回复文本字体 -->
                        <span class="reply_text">回复</span>

                        <!-- 回复冒号 -->
                        <span class="reply_colon">:</span>

                        <!-- 头像、回复人信息 -->
                        <span class="reply_autor">
                            
                            <!-- 头像 -->
                            <span class="reply_ph"><a href="#"><img src="../../public/Comment/images/1.jpg" alt=""></a></span>

                        <!-- 回复人昵称 -->
                        <span class="reply_name"><a href="#">富婆</a></span>

                        <!-- 回复人标签 -->
                        <span class="reply_label"><a href="#"><img src="../../public/Comment/images/富婆标签.png" alt=""></a></span>
                        </span>
                        </span>
                        </span>

                        <!-- 回复信息内容 -->
                        <span class="reply_content">富婆也难受啊，呜呜呜。富婆也难受啊，呜呜呜。富婆也难受啊，呜呜呜。富婆也难受啊，呜呜呜。富婆也难受啊，呜呜呜。富婆也难受啊，呜呜呜。富婆也难受啊，呜呜呜。富婆也难受啊，呜呜呜。</span>
                    </div>
                    <!-- 点击回复，回复别人的信息 -->
                    <span></span>
                </div>
            </li>
        </ul>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</body>

</html>