<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <!-- 公共样式(全体通用) -->
    <link rel="stylesheet" href="../../public/Comment/css/comment.css">
    <!-- 公共字体(全体通用) -->
    <link rel="stylesheet" href="../../public/Comment/css/font.css">
    <!-- 客户端头部 -->
    <link rel="stylesheet" href="../../public/Client/comment/header.css">
    <!-- 首页样式文件 -->
    <link rel="stylesheet" href="../../public/Client/index/index.css">
</head>

<body>
    <!-- 头部导航栏 -->
    <div class="header">
        <div class="header_center">
            <!-- 不是logo是老狗 -->
            <div class="lg">
                <img src="../../public/Client/images/awsl.png" alt="可莉酱">
            </div>
            <ul>
                <li>
                    <a href="#" target="_blank" title="博客首页"><i class="iconfont icon-daohangshouye"></i>博客首页</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="你要的都在这里哦"><i class="iconfont icon-sort"></i>分类</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="在这里提出你的问题吧"><i class="iconfont icon-V"></i>论坛</a>
                </li>
                <li>
                    <a href="#" target="_blank" title="让它变得更好吧"><i class="iconfont icon-yijian"></i>博客建议</a>
                </li>
                <li>
                    <a href="../comment/login.html" target="_blank" title="登录注册都点这里嗷">登录/注册</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 博客主体内容 -->
    <div class="content">
        <!-- 文章列表 -->
        <div class="article">
            <!-- 文章列表标题 -->
            <div class="article_title" title="看就完事了!"><span><i class="iconfont icon-16"></i>文章列表(你想要的都在这里哦)</span></div>
            <ul>
                <li>
                    <!-- 博客展示图片 -->
                    <div class="content_img">
                        <a href="#"><img src="../../public/Client/images/4.jpg" alt=""></a>
                    </div>
                    <!-- 博客展示内容 -->
                    <div class="content_details">
                        <!-- 博客展示内容标题 -->
                        <p class="details_title">
                            <a class="a_underline" href="#" target="_blank"><i class="iconfont icon-huabanfuben"></i>HTML是世界上最好的语言aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                        </p>
                        <!-- 博客展示内容主体 -->
                        <p class="details_content">
                            <a class="a_underline" href="#" target="_blank">众所周知,HTML是世界上最好的语言,什么这那那这的,花里胡哨的语言,就比如这几个php,java,javascript,c,c++,python....等等之类的语言,在HTML面前,都是弟弟哒哒哒哒哒哒多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多哈哈哈哈哈哈哈哈哈哈或或或或或或或或或或或或或或或或或或或或或或</a>
                        </p>
                        <!-- 作者信息 -->
                        <div class="author">
                            <!-- 作者头像 -->
                            <div class="details_authorPhoto">
                                <img src="../../public/Comment/images/1.jpg" alt="作者头像">
                            </div>
                            <!-- 作者昵称 -->
                            <div class="details_authorName"><a class="a_underline" href="#" target="_blank">富婆</a></div>
                            <!-- 发布日期 -->
                            <span>0000-00-00</span>
                            <!-- 点赞、评论、浏览次数 -->
                            <div class="details_order">
                                <!-- 点赞 -->
                                <a class="a_underline" title="奥利给!" href="#" target="_blank"><i class="iconfont icon-dianzan"></i>-999+</a>
                                <!-- 评论 -->
                                <a class="a_underline" title="来说点骚话吧" href="#" target="_blank"><i class="iconfont icon-pinglun1"></i>999+</a>
                                <!-- 浏览次数 -->
                                <a class="a_underline" title="偷窥次数" href="#" target="_blank"><i class="iconfont icon-chakan"></i>999+</a>
                            </div>
                        </div>
                        <!-- 标签 -->
                        <div class="label">
                            <a class="blue" href="#" target="_blank" title="node.js">node.js</a>
                            <a class="green" href="#" target="_blank" title="java">java</a>
                            <a class="red" href="#" target="_blank" title="python">python</a>
                            <a class="yellow" href="#" target="_blank" title="c++">c++</a>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- 博客展示图片 -->
                    <div class="content_img">
                        <a href="#"><img src="../../public/Client/images/4.jpg" alt=""></a>
                    </div>
                    <!-- 博客展示内容 -->
                    <div class="content_details">
                        <!-- 博客展示内容标题 -->
                        <p class="details_title">
                            <a class="a_underline" href="#" target="_blank"><i class="iconfont icon-huabanfuben"></i>HTML是世界上最好的语言aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                        </p>
                        <!-- 博客展示内容主体 -->
                        <p class="details_content">
                            <a class="a_underline" href="#" target="_blank">众所周知,HTML是世界上最好的语言,什么这那那这的,花里胡哨的语言,就比如这几个php,java,javascript,c,c++,python....等等之类的语言,在HTML面前,都是弟弟哒哒哒哒哒哒多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多哈哈哈哈哈哈哈哈哈哈或或或或或或或或或或或或或或或或或或或或或或</a>
                        </p>
                        <!-- 作者信息 -->
                        <div class="author">
                            <!-- 作者头像 -->
                            <div class="details_authorPhoto">
                                <img src="../../public/Comment/images/1.jpg" alt="作者头像">
                            </div>
                            <!-- 作者昵称 -->
                            <div class="details_authorName"><a class="a_underline" href="#" target="_blank">富婆</a></div>
                            <!-- 发布日期 -->
                            <span>0000-00-00</span>
                            <!-- 点赞、评论、浏览次数 -->
                            <div class="details_order">
                                <!-- 点赞 -->
                                <a class="a_underline" title="奥利给!" href="#" target="_blank"><i class="iconfont icon-dianzan"></i>-999+</a>
                                <!-- 评论 -->
                                <a class="a_underline" title="来说点骚话吧" href="#" target="_blank"><i class="iconfont icon-pinglun1"></i>999+</a>
                                <!-- 浏览次数 -->
                                <a class="a_underline" title="偷窥次数" href="#" target="_blank"><i class="iconfont icon-chakan"></i>999+</a>
                            </div>
                        </div>
                        <!-- 标签 -->
                        <div class="label">
                            <a class="blue" href="#" target="_blank" title="node.js">node.js</a>
                            <a class="green" href="#" target="_blank" title="java">java</a>
                            <a class="red" href="#" target="_blank" title="python">python</a>
                            <a class="yellow" href="#" target="_blank" title="c++">c++</a>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- 博客展示图片 -->
                    <div class="content_img">
                        <a href="#"><img src="../../public/Client/images/4.jpg" alt=""></a>
                    </div>
                    <!-- 博客展示内容 -->
                    <div class="content_details">
                        <!-- 博客展示内容标题 -->
                        <p class="details_title">
                            <a class="a_underline" href="#" target="_blank"><i class="iconfont icon-huabanfuben"></i>HTML是世界上最好的语言aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                        </p>
                        <!-- 博客展示内容主体 -->
                        <p class="details_content">
                            <a class="a_underline" href="#" target="_blank">众所周知,HTML是世界上最好的语言,什么这那那这的,花里胡哨的语言,就比如这几个php,java,javascript,c,c++,python....等等之类的语言,在HTML面前,都是弟弟哒哒哒哒哒哒多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多哈哈哈哈哈哈哈哈哈哈或或或或或或或或或或或或或或或或或或或或或或</a>
                        </p>
                        <!-- 作者信息 -->
                        <div class="author">
                            <!-- 作者头像 -->
                            <div class="details_authorPhoto">
                                <img src="../../public/Comment/images/1.jpg" alt="作者头像">
                            </div>
                            <!-- 作者昵称 -->
                            <div class="details_authorName"><a class="a_underline" href="#" target="_blank">富婆</a></div>
                            <!-- 发布日期 -->
                            <span>0000-00-00</span>
                            <!-- 点赞、评论、浏览次数 -->
                            <div class="details_order">
                                <!-- 点赞 -->
                                <a class="a_underline" title="奥利给!" href="#" target="_blank"><i class="iconfont icon-dianzan"></i>-999+</a>
                                <!-- 评论 -->
                                <a class="a_underline" title="来说点骚话吧" href="#" target="_blank"><i class="iconfont icon-pinglun1"></i>999+</a>
                                <!-- 浏览次数 -->
                                <a class="a_underline" title="偷窥次数" href="#" target="_blank"><i class="iconfont icon-chakan"></i>999+</a>
                            </div>
                        </div>
                        <!-- 标签 -->
                        <div class="label">
                            <a class="blue" href="#" target="_blank" title="node.js">node.js</a>
                            <a class="green" href="#" target="_blank" title="java">java</a>
                            <a class="red" href="#" target="_blank" title="python">python</a>
                            <a class="yellow" href="#" target="_blank" title="c++">c++</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 右侧导航列表 -->
        <div class="list">
            <!-- 分类列表 -->
            <div class="sort_list">
                <!-- 分类标题 -->
                <p class="sort_title com_title">
                    <span title="还有其他哦"><i class="iconfont icon-sort"></i></i>分类</span>
                    <a class="a_underline" href="#" title="点我看更多">更多</a>
                </p>
                <!-- 分类标签 -->
                <div class="label sort_label">
                    <a class="blue sort_label_a" href="#" target="_blank" title="node.js">node.js</a>
                    <a class="blue sort_label_a" href="#" target="_blank" title="node.js">node.js</a>
                    <a class="blue sort_label_a" href="#" target="_blank" title="node.js">node.js</a>
                    <a class="blue sort_label_a" href="#" target="_blank" title="node.js">node.js</a>
                    <a class="blue sort_label_a" href="#" target="_blank" title="node.js">node.js</a>
                    <a class="green sort_label_a" href="#" target="_blank" title="java">java</a>
                    <a class="red sort_label_a" href="#" target="_blank" title="python">python</a>
                    <a class="yellow sort_label_a" href="#" target="_blank" title="c++">c++</a>
                </div>
            </div>
            <!-- 最近查看列表 -->
            <div class="browse_list">
                <!-- 最近查看标题 -->
                <p class="browse_title com_title">
                    <span title="最近临幸"><i class="iconfont icon-59"></i></i>最近浏览</span>
                    <a class="a_underline" href="#" title="点我看更多">更多</a>
                </p>
                <!-- 最近查看内容 -->
                <div class="browse_content">
                    <ul>
                        <li><a class="a_underline" href="#">看了个寂寞aaaaaaaaaaaaaaaaaaaaaaaaaa88888888</a></li>
                        <li><a class="a_underline" href="#">看了个寂寞aaaaaaaaaaaaaaaaaaaaaaaaaa88888888</a></li>
                        <li><a class="a_underline" href="#">看了个寂寞aaaaaaaaaaaaaaaaaaaaaaaaaa88888888</a></li>
                        <li><a class="a_underline" href="#">看了个寂寞aaaaaaaaaaaaaaaaaaaaaaaaaa88888888</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page">
            <ul>
                <li><a href="#">&lt;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">&gt;</a></li>
            </ul>
        </div>
    </div>
    <!-- <div class="page">
        <ul>
            <li><a href="#">&lt;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&gt;</a></li>
        </ul>
    </div> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!-- <script src="../../public/Comment/js/flexible.js"></script> -->
</body>

</html>