* {
  padding: 0;
  margin: 0;
}
input,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
}
.left_img {
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 10px 10px 5px #ccc;
}
.left_img img {
  width: 100%;
  vertical-align: middle;
}
.login_from {
  width: 2.604167rem;
  position: relative;
  padding: 0.572917rem 0 0.104167rem 0;
  margin: 1.40625rem auto 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.026042rem;
  background-color: #FFFEFE;
}
.login_from .head_portrait {
  width: 0.78125rem;
  height: 0.78125rem;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0.026042rem 0.026042rem #ccc;
}
.login_from .head_portrait img {
  width: 100%;
}
.login_from .login_input {
  width: 80%;
  height: 0.140625rem;
  padding: 0.03125rem 0.052083rem;
  margin: 0 auto 0.104167rem auto;
  display: block;
  font-size: 0.078125rem;
  border: 1px solid #ccc;
  border-radius: 0.026042rem;
}
.login_from .login_button {
  width: 0.78125rem;
  padding: 0.041667rem 0px;
  margin: 0 auto;
  display: block;
  font-size: 0.078125rem;
  border: 1px solid #ccc;
  background-color: #0099cb;
  color: #fff;
  border-radius: 0.026042rem;
}
