<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理页面</title>
    <!-- 公共样式(全体通用) -->
    <link rel="stylesheet" href="../../public/Comment/css/comment.css">
    <!-- 公共字体(全体通用) -->
    <link rel="stylesheet" href="../../public/Comment/css/font.css">
    <!-- 客户端头部 -->
    <link rel="stylesheet" href="../../public/admin/comment/header.css">
    <!-- 客户端侧边栏 -->
    <link rel="stylesheet" href="../../public/admin/comment/side.css">
    <!-- 管理页面样式 -->
    <link rel="stylesheet" href="../../public/admin/index/index.css">
</head>

<body>
    <div class="all">
        <!-- 侧边 -->
        <div class="side">
            <span>my-blog博客管理后台</span>
            <ul>
                <li>
                    <i class="iconfont icon-daohangshouye"></i>
                    <a href="javascript">主页</a>
                    <span></span>
                </li>
            </ul>
        </div>
        <!-- 头部 -->
        <div class="header">

        </div>
    </div>
</body>

</html>