<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理页面</title>
    <!-- 公共样式(全体通用) -->
    <link rel="stylesheet" href="../../public/Comment/css/comment.css">
    <!-- 公共字体(全体通用) -->
    <link rel="stylesheet" href="../../public/Comment/css/font.css">
    <!-- 客户端主体内容 -->
    <link rel="stylesheet" href="../../public/admin/comment/subject.css">
    <!-- 客户端侧边栏 -->
    <link rel="stylesheet" href="../../public/admin/comment/side.css">
    <!-- 管理页面样式 -->
    <link rel="stylesheet" href="../../public/admin/index/index.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/echarts/2.1.10/echarts-all.js"></script> -->
    <script src="../../public/Comment/js/echarts.js"></script>
</head>

<body>
    <div class="all">
        <!-- 侧边 -->
        <div class="side">
            <div>
                <span class="kong"></span>
                <span>my-blog博客管理后台</span>
                <span class="kong"></span>
            </div>
            <ul>
                <li>
                    <i class="iconfont icon-daohangshouye"></i>
                    <a href="javascript:;">主页</a>
                    <!-- <span></span> -->
                </li>
                <li>
                    <i class="iconfont icon--yemianliebiao"></i>
                    <a href="javascript:;">页面</a>
                    <span></span>
                </li>
                <li>
                    <i class="iconfont icon-yonghu"></i>
                    <a href="javascript:;">用户</a>
                    <span></span>
                </li>
                <li>
                    <i class="iconfont icon-daohangshouye"></i>
                    <a href="javascript:;">主页</a>
                    <!-- <span></span> -->
                </li>
                <li>
                    <i class="iconfont icon-daohangshouye"></i>
                    <a href="javascript:;">主页</a>
                    <!-- <span></span> -->
                </li>
                <li>
                    <i class="iconfont icon-daohangshouye"></i>
                    <a href="javascript:;">主页</a>
                    <!-- <span></span> -->
                </li>
                <li>
                    <i class="iconfont icon-shezhi"></i>
                    <a href="javascript:;">设置</a>
                    <span></span>
                </li>
            </ul>
        </div>
        <!-- 主体内容 -->
        <div class="subject">
            <!-- 头部 -->
            <div class="header">
                <ul class="header_left">
                    <li>
                        <a href="javascript:;"><i class="iconfont icon-backward-a"></i></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="iconfont icon-hulianwang"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="iconfont icon-shuaxin"></i></a>
                    </li>
                </ul>
                <ul class="header_right">
                    <li>
                        <a href="javascript:;"><i class="iconfont icon-beijingtupian"></i></a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <cite>富婆</cite>
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <!-- 网站基本信息 -->
                <div class="essential_information">
                    <!-- 网站用户数量 -->
                    <div class="cumulative_user comment">
                        <i class="iconfont icon-yonghu"></i>
                        <span>
                            <a>用户总量</a>
                            <a>1</a>
                        </span>
                    </div>
                    <!-- 网站留言建议数量 -->
                    <div class="cumulative_opinion comment">
                        <i class="iconfont icon-yijian"></i>
                        <span>
                            <a>留言建议量</a>
                            <a>1</a>
                        </span>
                    </div>
                    <!-- 网站文章数量 -->
                    <div class="cumulative_article comment">
                        <i class="iconfont icon-16"></i>
                        <span>
                            <a>文章总量</a>
                            <a>1</a>
                        </span>
                    </div>
                    <!-- 网站累计访问量 -->
                    <div class="cumulative_visits comment">
                        <i class="iconfont icon-guanwangfangwen"></i>
                        <span>
                            <a>累计访问量</a>
                            <a>1</a>
                        </span>
                    </div>
                </div>
                <div class="statistics">
                    <!-- 访问量图表 -->
                    <div class="chart_number">
                        <span>近期网站访问量</span>
                        <div id="main"></div>
                    </div>
                    <!-- 其他 -->
                    <div class="other">
                        <div id="source"></div>
                        <div class="contrast">
                            <span>网站访问量比较</span>
                            <p>
                                <span class="describe">相比昨日</span>
                                <a>50%<span></span></a>
                            </p>
                            <div class="container">
                                <div class="skills ri"></div>
                            </div>
                            <p>
                                <span class="describe">相比上月</span>
                                <a>80%<span></span></a>
                            </p>
                            <div class="container">
                                <div class="skills yue"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var pieChart = echarts.init(document.getElementById('source'));

        // 指定图表的配置项和数据
        option1 = {
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['10.24', '10.25', '10.26', '10.27', '10.28', '10.29', '今日']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [1, 5, 11, 7, 22, 88, 33],
                type: 'line',
                areaStyle: {}
            }]
        };
        option2 = {
            title: {
                text: '站点用户访问来源',
                // subtext: '纯属虚构',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['Chrome', 'Firefox', 'Sofia', 'Opera', 'Other']
            },
            series: [{
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [{
                    value: 335,
                    name: 'Chrome'
                }, {
                    value: 310,
                    name: 'Firefox'
                }, {
                    value: 234,
                    name: 'Sofia'
                }, {
                    value: 135,
                    name: 'Opera'
                }, {
                    value: 1548,
                    name: 'Other'
                }],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option1);
        pieChart.setOption(option2);
    </script>
</body>

</html>