<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link rel="stylesheet" href="../../public/Comment/css/comment.css">
    <link rel="stylesheet" href="../../public/admin/css/login/login.css">
</head>

<body>
    <!-- <div class="left_img">
        <img src="../../public/admin/images/admin/login_left.gif" />
    </div> -->
    <!-- 登录提交表单 -->
    <div class="login_from">
        <!-- 用户头像 -->
        <div class="head_portrait">
            <img src="../../public/admin/images/1.jpg" alt="登录头像">
        </div>
        <!-- 用户邮箱地址 -->
        <input class="login_input" type="text" autofocus placeholder="请输入邮箱地址">
        <!-- 用户密码 -->
        <input class="login_input" type="password" placeholder="请输入密码">
        <!-- 登录按钮 -->
        <button class="login_button">登录</button>
    </div>
    <script src="../../public/Comment/js/flexible.js"></script>
</body>

</html>