html {
  background-color: #f5f6f7;
}
html .header {
  width: 100%;
  height: 0.229167rem;
  line-height: 0.229167rem;
  background-color: #fff;
  box-shadow: 0 0.010417rem 0.010417rem 0 #EEEEEE;
}
html .header ul {
  width: 72%;
  margin: 0 auto;
  overflow: hidden;
}
html .header ul li {
  float: left;
  height: 0.229167rem;
  vertical-align: middle;
}
html .header ul li a {
  display: block;
  height: 0.229167rem;
  padding: 0 0.104167rem;
  font-size: 0.104167rem;
  align-items: center;
  color: #555555;
}
html .header ul li a i {
  margin-right: 0.026042rem;
  font-size: 0.114583rem;
}
html .header ul a:hover {
  background-color: #dddddd;
  color: #D75A5A;
}
html .content {
  display: flex;
  justify-content: space-between;
  width: 72%;
  margin: 0.260417rem auto;
}
html .content .article {
  width: 72%;
  border-top: 1px solid #A7A7A7;
  border-left: 1px solid #A7A7A7;
  border-right: 1px solid #A7A7A7;
  border-radius: 5px;
}
html .content .article .article_title {
  padding: 0.078125rem 0.104167rem;
  font-size: 0.09375rem;
  border-bottom: 2px solid #4FBA92;
  color: #555555;
}
html .content .article .article_title i {
  margin-right: 7px;
  font-size: 0.09375rem;
}
html .content .article > ul > li {
  display: flex;
  align-items: center;
  height: 1.5625rem;
  padding: 0.14rem 0.16rem;
  border-bottom: 1px solid #ccc;
}
html .content .article > ul > li .content_img {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 1.8rem;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
}
html .content .article > ul > li .content_img img {
  width: 100%;
}
html .content .article > ul > li .content_details {
  flex: 1;
  width: 2.723958rem;
  height: 100%;
  padding: 0.15625rem 0.104167rem 0 0.364583rem;
  box-sizing: border-box;
}
html .content .article > ul > li .content_details .details_title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.140625rem;
  font-size: 0.104167rem;
}
html .content .article > ul > li .content_details .details_title a {
  color: #383838;
}
html .content .article > ul > li .content_details .details_title a i {
  font-size: 0.104167rem;
  margin-right: 0.036458rem;
}
html .content .article > ul > li .content_details .details_title a:hover {
  text-decoration: underline;
}
html .content .article > ul > li .content_details .details_content {
  height: 0.4375rem;
  margin-bottom: 0.140625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: 0.083333rem;
}
html .content .article > ul > li .content_details .details_content a {
  color: #383838;
}
html .content .article > ul > li .content_details .details_content a:hover {
  text-decoration: underline;
}
html .content .article > ul > li .content_details .author {
  display: flex;
  align-items: center;
  margin-bottom: 0.15625rem;
}
html .content .article > ul > li .content_details .author .details_authorPhoto {
  width: 0.197917rem;
  overflow: hidden;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
}
html .content .article > ul > li .content_details .author .details_authorPhoto img {
  width: 100%;
}
html .content .article > ul > li .content_details .author .details_authorName {
  margin: 0 0.078125rem;
  font-size: 0.078125rem;
}
html .content .article > ul > li .content_details .author .details_authorName a {
  color: #3DA0CE;
}
html .content .article > ul > li .content_details .author .details_authorName a:hover {
  text-decoration: underline;
}
html .content .article > ul > li .content_details .author .details_order {
  display: flex;
  align-items: center;
  padding: 0 0.078125rem;
}
html .content .article > ul > li .content_details .author .details_order a {
  margin: 0 0.036458rem;
  color: #555555;
}
html .content .article > ul > li .content_details .author .details_order a i {
  padding: 0 0.026042rem;
  font-size: 0.078125rem;
}
html .content .article > ul > li .content_details .author .details_order a:hover {
  text-decoration: underline;
}
html .content .article > ul > li .content_details .label a {
  display: line-block;
  padding: 0.026042rem 0.036458rem;
  margin-right: 0.083333rem;
  border-radius: 0.026042rem;
}
html .content .article > ul > li .content_details .label .blue {
  border: 2px solid #0099E0;
  background-color: #63CEFF;
  color: #2794C7;
}
html .content .article > ul > li .content_details .label .green {
  border: 2px solid #00AD5C;
  background-color: #46FFA9;
  color: #1FB66F;
}
html .content .article > ul > li .content_details .label .red {
  border: 2px solid #B00000;
  background-color: #FF5757;
  color: #DB2020;
}
html .content .article > ul > li .content_details .label .yellow {
  border: 2px solid #B9CA00;
  background-color: #F2FF6A;
  color: #C0CE2C;
}
html .content .sort_list {
  width: 26%;
  border: 1px solid #ccc;
}
