html {
  background-color: #f5f6f7;
}
html .header {
  width: 100%;
  height: 0.229167rem;
  line-height: 0.229167rem;
  background-color: #fff;
  box-shadow: 0 0.010417rem 0.010417rem 0 #EEEEEE;
}
html .header ul {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
html .header ul li {
  float: left;
  height: 0.229167rem;
  vertical-align: middle;
}
html .header ul li a {
  display: block;
  height: 0.229167rem;
  padding: 0 0.104167rem;
  font-size: 0.088542rem;
  align-items: center;
  color: #000000;
}
html .header ul li a i {
  margin-right: 0.026042rem;
  font-size: 0.088542rem;
}
html .header ul a:hover {
  background-color: #F3F3F3;
  color: #C32C2C;
}
