html {
  background-color: #f5f6f7;
}
html .label a {
  display: line-block;
  padding: 5px 7px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  font-size: 13px;
}
html .label .blue {
  border: 2px solid #0099E0;
  background-color: #89FDFF;
  color: #2794C7;
}
html .label .green {
  border: 2px solid #00AD5C;
  background-color: #7FFFDA;
  color: #3AB18F;
}
html .label .red {
  border: 2px solid #FF1A1A;
  background-color: #FFC8C8;
  color: #FF2323;
}
html .label .yellow {
  border: 2px solid #D6DB00;
  background-color: #FEFFCA;
  color: #BFC330;
}
html .a_underline:hover {
  text-decoration: underline;
}
html .content {
  display: flex;
  justify-content: space-between;
  width: 1382.5px;
  margin: 50px auto;
}
html .content .article {
  width: 72%;
  border-top: 1px solid #A7A7A7;
  border-left: 1px solid #A7A7A7;
  border-right: 1px solid #A7A7A7;
  border-radius: 5px;
}
html .content .article .article_title {
  padding: 15px 30px;
  overflow: hidden;
  font-size: 17px;
  border-bottom: 2px solid #23985B;
  color: #555555;
}
html .content .article .article_title span {
  float: left;
}
html .content .article .article_title span i {
  margin-right: 7px;
  font-size: 17px;
}
html .content .article > ul > li {
  display: flex;
  align-items: center;
  padding: 27px 31px;
  border-bottom: 1px solid #ccc;
}
html .content .article > ul > li .content_img {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 350px;
  height: 290px;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
}
html .content .article > ul > li .content_img img {
  width: 100%;
}
html .content .article > ul > li .content_details {
  flex: 1;
  width: 520px;
  padding: 27px 20px 0 70px;
  box-sizing: border-box;
}
html .content .article > ul > li .content_details .details_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
  font-size: 20px;
}
html .content .article > ul > li .content_details .details_title a {
  color: #383838;
}
html .content .article > ul > li .content_details .details_title a i {
  font-size: 20px;
  margin-right: 7px;
}
html .content .article > ul > li .content_details .details_content {
  height: 84px;
  margin-bottom: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: 15px;
}
html .content .article > ul > li .content_details .details_content a {
  color: #383838;
}
html .content .article > ul > li .content_details .author {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
html .content .article > ul > li .content_details .author .details_authorPhoto {
  width: 38px;
  overflow: hidden;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
}
html .content .article > ul > li .content_details .author .details_authorPhoto img {
  width: 100%;
}
html .content .article > ul > li .content_details .author .details_authorName {
  margin: 0 15px;
  font-size: 14px;
}
html .content .article > ul > li .content_details .author .details_authorName a {
  color: #3DA0CE;
}
html .content .article > ul > li .content_details .author span {
  font-size: 14px;
}
html .content .article > ul > li .content_details .author .details_order {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
html .content .article > ul > li .content_details .author .details_order a {
  margin: 0 6px;
  color: #555555;
  font-size: 14px;
}
html .content .article > ul > li .content_details .author .details_order a i {
  padding: 0 5px;
  font-size: 14px;
}
html .content .list {
  display: flex;
  flex-direction: column;
  width: 26%;
}
html .content .list .com_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
  color: #fff;
  font-size: 16px;
}
html .content .list .com_title i {
  margin-right: 7px;
  font-size: 16px;
}
html .content .list .com_title a {
  color: #fff;
}
html .content .list .sort_list {
  height: 162px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 25px;
}
html .content .list .sort_list .sort_title {
  background-color: #FF6969;
  border-bottom: 1px solid #FF3E3E;
}
html .content .list .sort_list .sort_label {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 4px 20px;
}
html .content .list .browse_list {
  border: 1px solid #ccc;
  border-radius: 5px;
}
html .content .list .browse_list .browse_title {
  background-color: #00ECF7;
  border-bottom: 1px solid #00B5CA;
}
html .content .list .browse_list .browse_content ul li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 11px 20px;
  border-bottom: 1px solid #ccc;
}
html .content .list .browse_list .browse_content ul li a {
  color: #7E7E7E;
}
