html,
body {
    height: 100%;

    .all {
        height: 100%;

        .side {
            height: 100%;
            color: #fff;
            font-size: 15px;
            background-color: #333333;

            & div {
                width: 100%;
                padding: 17px 0;
                text-align: center;
                border-bottom: 1px solid #000;

                span {
                    display: inline-block;
                }

                .kong {
                    width: 50px;
                }
            }

            ul {
                padding: 0 22px;

                li {
                    display: flex;
                    align-items: center;
                    padding: 22px 0;

                    a {
                        padding-left: 17px;
                        flex: 1;
                        color: #fff;
                    }

                    span {
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-top: 30px;
                        border-width: 6px;
                        padding-top: -4px;
                        border-color: #fff transparent transparent;
                        border-style: solid dashed dashed;
                    }
                }

                li:hover {
                    cursor: pointer;
                }

            }
        }
    }
}