html .all .side,
body .all .side {
  color: #fff;
  font-size: 15px;
  background-color: #333333;
}
html .all .side .side_title,
body .all .side .side_title {
  width: 260px;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #000;
}
html .all .side .side_title span,
body .all .side .side_title span {
  font-size: 15px;
  display: inline-block;
}
html .all .side ul,
body .all .side ul {
  position: relative;
}
html .all .side ul li,
body .all .side ul li {
  pointer-events: none;
}
html .all .side ul li .sidelicenter,
body .all .side ul li .sidelicenter {
  display: flex;
  align-items: center;
  width: 75%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
}
html .all .side ul li .sidelicenter i,
body .all .side ul li .sidelicenter i {
  color: #D2D2D2;
}
html .all .side ul li .sidelicenter a,
body .all .side ul li .sidelicenter a {
  transition: all 0.2s;
  padding-left: 17px;
  flex: 1;
  color: #D2D2D2;
}
html .all .side ul li .sidelicenter .side_pull,
body .all .side ul li .sidelicenter .side_pull {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 6px;
  border: 7px;
  transition: all 0.3s;
  border-color: #D2D2D2 transparent transparent;
  border-style: solid dashed dashed;
}
html .all .side ul li dl,
body .all .side ul li dl {
  display: none;
  background-color: #3C3C3C;
}
html .all .side ul li dl dd a,
body .all .side ul li dl dd a {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
  transition: all 0.2s;
  box-sizing: border-box;
  color: #D2D2D2;
}
html .all .side ul li dl dd:hover a,
body .all .side ul li dl dd:hover a {
  color: #fff;
}
html .all .side ul .left_animation,
body .all .side ul .left_animation {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 60px;
  width: 3px;
  transition: all 0.3s;
  background-color: #fff;
}
html .all .side ul li:hover,
body .all .side ul li:hover {
  cursor: pointer;
}
html .all .side ul li:hover .sideliTitle,
body .all .side ul li:hover .sideliTitle {
  color: #fff;
}
html .all .side ul li:hover i,
body .all .side ul li:hover i {
  color: #fff;
}
